*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif
}
.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    margin-right: 16px;
}
.logo-text{
    font-size: 24px;
    line-height: 33px;
    font-family: "Open Sans";
}
.header-links{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
}
.header-links .list-items a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #222;
    font-weight: 700;
}
.header-links .list-items{
    margin-right: 32px;
}
.header-links .list-items:last-child{
    margin-right: 0;
}
.btn{
    color: #fff;
    background-color: #DE2E54;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    margin-top: 0;
}
.hero-section{
    color: #fff;
    background-color: #0EB4C1;
}
.hero-content{
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-right: 177px;
}
.hero-heading{
    font-size: 36px;
    line-height: 43px;
}
.hero-text{
    font-size: 18px;
    line-height: 27px;
    margin-top: 16px;
    margin-bottom: 36px;
}
.hero-img{
    width: 423px;
    height: 504px;
    padding: 0;
    margin: 0;
}
.services-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services-part-one{
    display: flex;
    align-items: center;
}
.services-part-two{
    display: flex;
    align-items: center;
}
.services-part-three{
    display: flex;
    align-items: center;
}
.services-part-four{
    display: flex;
    align-items: center;
}
.register-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #0EB4C1;
    padding-top: 64px;
    padding-bottom: 64px;
}
.register-heading{
    margin-top: 0;
    margin-bottom: 40px;
    /* font-size: 36px; */
    line-height: 43px;
}
.register-call-btn{
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 40px;
    line-height: 18px;
    letter-spacing: 2px;
}
.register-telegram-btn{
    background-color: transparent;
    border: 2px solid #fff;
    line-height: 18px;
    letter-spacing: 2px;
}